html, body {
	height: 100%;
}

.messages {
	height: 90%;
}

#messages {
	overflow: auto;
}

.message_post {
	border: 1px solid black;
	border-radius: 3px;
	margin: 1px;
	display: inline-block;
	white-space: pre-wrap;
}

#message_post_user {
	color: blue;
	font-weight: bold;
}

#message_post_ts {
	color: orange;
	font-style: italic;
}

#message_post_msg {
	color: black;
}

#comment {
	margin-top: 10px;
	display: block;
	margin-left: 10px;
	margin-right: auto;
}

#send {
	margin-top: 10px;
	display: block;
	margin-left: 10px;
	margin-right: auto;
}