<!doctype html>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/head.css") }}"/>
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/stylesheet.css") }}"/>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script type="text/javascript" src="{{ static_url("js/home.js") }}"></script>
	</head>
	<body>
		<div class="header">
			<div id ="header_info">
				{% if logged_in %}
					<div class="upper_right_greeting">
						{{ current_user }}
						<a href="/logout">signout</a>
					</div>
				{% else %}
					<div class="upper_right_greeting">
						Sign in or register!
					</div>
				{% end %}
			</div>

		</div>

		{% if not logged_in %}
			<div id="right_side_bar">
				<div id="login">
					<form action="/" method="post">
						
						<div id="login_wrapper">
							<input type="text" name="username" placeholder="username">
							<br>
							<input type="password" name="password" placeholder="password">
							<br>
							<input type="submit" id="signin" value="Sign in">
						</div>
						{% module xsrf_form_html() %}
					</form>
				</div>
			</div>
		{% else %}
			<div id="right_side_bar">
				<div>Some sort of information</div>
			</div>
		{% end %}
		

		<div class="channels">
			<h1>Featured</h1>
			<div class="ch_list">
				<ul>
					<li>
						<ul>
							<li class="channel_info"><a href="#">test_a</a></li>
							<li class="channel_info">Time</li>
						</ul>
					</li>
					<li>
						<ul>
							<li class="channel_info"><a href="#">test_b</a></li>
							<li class="channel_info">Time</li>
						</ul>
					</li>
				<ul>
			</div>
			<br />
			<h1>All</h1>
			<div class="ch_list">
				<ul>
					<li>
						<ul>
							<li class="channel_info"><a href="#">test_1</a></li>
							<li class="channel_info">Time</li>
						</ul>
					</li>
					<li>
						<ul>
							<li class="channel_info"><a href="#">test_2</a></li>
							<li class="channel_info">Time</li>
						</ul>
					</li>
					<li>
						<ul>
							<li class="channel_info"><a href="#">test_3</a></li>
							<li class="channel_info">Time</li>
						</ul>
					</li>
					<li>
						<ul>
							<li class="channel_info"><a href="#">test_4</a></li>
							<li class="channel_info">Time</li>
						</ul>
					</li>

				</ul>
			</div>
		</div>

		

	</body>
</html>