<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Whatsup</title>
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/bootstrap.min.css") }}"/>
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/navbar.css") }}"/>
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/datepicker.css") }}"/>
		<script type="text/javascript" src="{{ static_url("js/clock.js") }}"></script>
	</head>

	<body onload="startTime()">
		{% include "../header.html" %}

		<div class="container">
			<div class="row">
				<div class="col-md-8">
					
					<div class="panel panel-primary" id="featured_list">
						<div class="panel-heading"><h4>Featured</h4></div>
						{% for ch in flist %}
						<a href={{ "ch/"+ch[decode.url]}} class="list-group-item link_for_channel">
							<h4 class="list-group-item-heading channel_title">{{ ch[decode.title].replace("2014", "") }}</h4>
							<span class="badge channel_start_time">{{ ch[decode.start] }} UTC</span>
							<p class="list-group-item-text channel_description">DESCRIPTION</p>
							<span class="label label-danger channel_tag">#{{ch[decode.tag]}}</span>
						</a>
						{% end %}
					</div>					

				</div>

				{% if logged_in %}
				<div class="col-md-offset-1 col-md-3 panel panel-default">
					<div class="panel-body">
						<form  action="/CreateChannel" method="post" role="form">
							<div class="form-group">
								<input type="text" name="title" placeholder="Title">
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">#</span>
									<input type="text" name="tag" placeholder="tag">
								</div>
							</div>
							<div class="form-group">
								<select name="length">
									{% for i in range(1,9) %}
									<option value="{{i}}">{{i}} hour(s)</option>
									{% end %}		
								</select>
							</div>
							<div class="form-group">
								<input type="text" name="start_date" id="start_date" placeholder="yyyy-mm-dd">
							</div>
							<div class="form-group">
								<select name="hour" id="hour dropdown">
									{% for i in range(0,24) %}
									<option value="{{i}}:00">{{i}}:00</option>
									{% end %}
								</select>		
							</div>
							<button class="btn btn-danger" type="Submit" id="create_ch">Create</button>
							{% module xsrf_form_html() %}
						</form>
					</div>
				</div>
				{% else %}
				<div class="col-md-offset-1 col-md-3 panel panel-default" id="register_form">
					<div class="panel-body">
						<h4>New? Register</h4>
						<form  action="/register" method="post" role="form">
							<div class="form-group">
								<input type="text" name="username" placeholder="Username" pattern="[A-Za-z0-9_]+" required>
							</div>
							<div class="form-group">
								<input type="password" name="password" placeholder="Password" required>
							</div>
							<div class="form-group">
								<input type="text" name="email" placeholder="Your Email">
							</div>
							<button class="btn btn-danger" type="Submit" id="register">Register</button>
							{% module xsrf_form_html() %}
						</form>
					</div>
				</div>
				{% end %}

			</div> <!-- row -->

			<div class="row">
				<div class="col-md-8">

					<div class="panel panel-primary" id="all_list">
						<div class="panel-heading"><h4>All</h4></div>
						{% for ch in flist %}
						<a href={{ "ch/"+ch[decode.url]}} class="list-group-item link_for_channel">
							<h4 class="list-group-item-heading channel_title">{{ ch[decode.title].replace("2014", "") }}</h4>
							<span class="badge channel_start_time">{{ ch[decode.start] }} UTC</span>
							<p class="list-group-item-text channel_description">DESCRIPTION</p>
							<span class="label label-danger channel_tag">#{{ch[decode.tag]}}</span>
						</a>
						{% end %}
					</div>				

				</div>
			</div> <!-- row -->

		</div> <!-- </div> container -->

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ static_url("js/home.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/bootstrap.min.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/bootstrap-datepicker.js") }}"></script>
	</body>
</html>